<nav>
    <div class='nav-wrapper'>
        <a href='/' class='brand-logo'>Chat app</a>
        <ul id='nav-mobile' class='right hide-on-med-and-down'>
            <li><a href='/auth/login'>Log in</a></li>
            <li><a href='/auth/registration'>Registration</a></li>
        </ul>
    </div>
</nav>