    <body>
        <ul id='messages'></ul>
        <i><p id="activity"></p></i>
        <form id='form' action=''>
            <input id='input' autocomplete='off' />
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
        </form>
    </body>
</html>